.about {
  @include bg;
  padding: 125px 0;
  margin-top: -20px;
  position: relative;
  background-position: top;
  background-image: url("../images/about.png");

  &__img {
    @include objectCoverBg;
    position: absolute;
    top: 90px;
    right: 0;
  }

  &__content {
    max-width: 470px;
    position: relative;
    z-index: 15;
  }

  &__title {
    margin-bottom: 25px;
  }

  &__text {
    @include flex-column(20);
    font-family: $singleDay;
    font-size: 28px;
  }
}