.buy {
  @include bg;
  background-position: bottom;
  padding: 100px 0;
  background-image: url("../../images/buy.png");
  border-radius: 24px;

  &__swiper {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0 -25px;
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
  }

  &__title {
    margin: 0 auto 58px;
    color: $white;
    text-align: center;
  }

  &__item {
    border-radius: 8px;
    padding: 30px;
    background: $white;
    height: 100%;
    box-shadow: 6px 6px 0 0 #449F55;
  }

  &__step {
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    line-height: 1.1;
    color: $black;
    margin-bottom: 23px;
  }

  &__text {
    font-family: $singleDay;

    &.short {
      max-width: 400px;
    }
  }

  &__btn {
    @include flex-center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: background-color .4s, border .4s;

    &:hover {
      background-color: #30be4d;
    }

    &--left {
      left: -75px;

      svg {
        width: 12px;
        transform: translateX(-1px);
        height: auto;
      }
    }

    &--right {
      right: -75px;

      svg {
        width: 12px;
        transform: translateX(1px);
        height: auto;
      }
    }
  }

  .swiper {
    padding: 0 6px 68px;

    &-wrapper {
      box-sizing: border-box;
    }

    &-slide {
      cursor: pointer;
      height: auto;
    }

    &-pagination {
      @include flex-align-center(9);
      justify-content: center;

      &-bullet {
        width: 9px;
        height: 9px;
        background-color: $white;
        opacity: 1;
        transition: background-color .4s;
      }

      &-bullet-active {
        background-color: #39cb57;
      }
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }

  .swiper-button-disabled {
    opacity: .6;
    pointer-events: none;
    user-select: none;
    transition: all .4s;
  }
}